.about{
  height: 70vh;
    background-image: linear-gradient(
        rgba(85, 239, 196, 0.8),
        rgba(19, 195, 145, 0.8)
    ),url(/images/about.jpg);  
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    .aboutpage{
        width: 60%;
        height: auto;
        background-color: $color-white;
        margin: 1rem;
        transform: skew(-15deg);
    }
    .parallelogram{
        transform: skew(15deg);
        h1{
            text-align: center;
            padding: 3rem 0 0rem 0;
            
            span{
                color: $color-primary;
            }
        }
    
        p{
            padding: 4rem 5rem;
            text-align: justify;
            text-justify: inter-word;
            
        }
    }
    
    @media (max-width:900px) {
        .aboutpage{
            width: 90%;
            height: auto;
            transform: skew(0deg);
        }
        .parallelogram{
            transform: skew(0deg);
            h1{
                text-align: center;
                padding: 1rem 0 0rem 0;
            }
        }
    }
    @media (max-width:620px) {
        margin-top: 10vh;
        .aboutpage{
            width: 90%;
            height: auto;
            transform: skew(0deg);
        }
        .parallelogram{
            transform: skew(0deg);
            h1{
                text-align: center;
                padding: 1rem 0 0rem 0;
            }
        }
    }
}