
/* ------------client style--------------- */
:root{
    --primary:#55EFC4;
    --secon:#13C391;
}
.client{
    z-index: -10;
    height: 60vh;
    position: relative;
    overflow-x: hidden;
    background-image: url(/images/bgclint.svg);
    background-repeat: no-repeat;
}
.client h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3.1rem;
    padding-top: 2rem;
    font-weight: 600;
}
.client h1 span{
    padding-left: 2px;
    color: var(--secon);
}
.review .cards{
   padding: 5rem 0;
    display: flex;
    list-style: none;
    font-family: 'Poppins', sans-serif;
   
}
.review .swiper-slide{
    width:45%;
}

.card-item{
    background: white;
    margin: 1rem;
    transform: skew(-15deg);
    box-shadow: 1px 8px 10px 3px rgb(201, 214, 214);
}

.card-item .card{
    background: transparent;
    transform: skew(15deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .image{
    padding: 1rem;
    margin: 1rem;
    margin-left: 2rem;
    box-shadow: 1px 1px 10px 3px rgb(219, 219, 219);
    border-radius: 50%;
}
.card .image img{
    width: 100px;
}
.card .text{
    margin-left: 1rem;
}
.card .text p{
    font-family: 'Poppins', sans-serif;
    margin: 10px 10px 0 0 ;
    font-size: 1.4rem;

    span{
        font-size: 3rem;
        color: var(--secon);
    }
}

@media (max-width:900px) {
    .client{
        background-image: none;
    }
    .review .cards{
        margin-left: 1rem;
    }
    .review .swiper-slide{
        width:90%;
        margin-left: 10px;
        margin-right: 0px;
        background: white;
        box-shadow: 1px 8px 10px 3px rgb(190, 188, 188);
    }
    .card-item{
        position: relative;
        margin: 1rem;
        transform: skew(0deg);
        margin-left: 1rem;
    }
    .card-item::after{
        position:absolute;
        z-index: -1;
        content: "";
        top: 0;
        width: 100%;
        height:100px;
        background: linear-gradient(248.33deg, rgba(85, 239, 196, 0.8) 0%, rgba(19, 195, 145, 0.8) 101.66%);
    }
    .card-item .card{
        transform: skew(0deg);
        display: flex;
        flex-direction: column;
    }
    .card .image{
        margin-top: 1rem;
        margin-bottom: au;
    }
    .card .text{
        text-align: center;
        padding: 1rem;
    }
 
}